@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Inter:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-forest-green: #95BD8D;
  --color-deep-olive: #C08EA4;
  --color-warm-beige: #FFFFFF;
  --color-cork-brown: #000000;
  --color-neutral-white: #FFFFFF;
  --color-leaf-green: #97C4D0;
  --color-sand: #D6B17E;
  --color-sky: #97C4D0;
  --color-mauve: #C08EA4;
  --color-sage: #95BD8D;

  --font-title: 'DM Sans', serif;
  --font-body: 'DM Sans', sans-serif;
}

body {
  font-family: var(--font-body);
  color: #000000;
  background-color: #FFFFFF;
}