---
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Ecorazón - Where Nature's Echo Meets the Art with Heart" } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <title>{title}</title>
  </head>
  <body class="bg-warm-beige text-gray-800">
    <slot />
    
    <script is:inline>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", function(user) {
          if (!user) {
            window.netlifyIdentity.on("login", function() {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>